* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url("./assets/images/pattern-background-desktop.svg") no-repeat top center;
  background-size: contain;
  background-color: #e0e8ff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

main {
  background: #fff;
  max-width: 22rem;
  border-radius: 1rem;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: hsl(223, 47%, 23%);
}

main section span {
  text-align: center;
  color: hsl(224, 23%, 55%);
}

main img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: hsl(225, 100%, 98%);
  border-radius: 0.8rem;
  padding: 1.5rem 1rem;
  margin: 2rem 0;
}

.information img {
  width: 5vh;
  margin-right: 1rem;
}

.music-price {
  display: flex;
  align-items: center;
}

.information .price {
  display: flex;
  flex-direction: column;
}

.information a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.information a:hover {
  color: hsl(223, 47%, 23%);
  text-decoration: none;
}

main button {
  cursor: pointer;
  background: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.2);
  transition: background 0.3s;
}

main button:hover {
  background: hsl(223, 47%, 23%);
}

#cancel-order {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  margin-bottom: 2rem;
  transition: color 0.3s;
}

#cancel-order:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 650px) {
  body {
    background: url("./assets/images/pattern-background-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 980px) {
  section {
    padding: 0 3rem;
  }
}
